<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- WebSocket -->
        <add key="WsIp" value="127.0.0.1" />
        <add key="WsPort" value="8181" />
    </appSettings>
</configuration>
